.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.header__izquierda {
  display: flex;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
  border-radius: 3px;
}
.header__input > input {
  flex: 1;
  border: none;
}

.header__iconos {
  display: flex;
  align-items: center;
}

.header__buscador{
    width: 65px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
    cursor:pointer;
    border-radius: 0 2px 2px 0;
    margin: 0;
    transition:  .3s;
}
.header__buscador:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.header__icono{
    margin-right: 8px;
}