.VideosR {
    display: flex-start;
    justify-content: center;
  }
  .VideosR__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-top: 25px;
    justify-content: center;
  }
  @media (min-width: 768px) {
    .VideosR {
      flex: 0.87;
    }
    .VideosR__wrapper{
        justify-content: start;
        padding: 0 25px;
    }
  }
  