.VideosR {
    display: flex;
    justify-content: center;
  }
  .VideosR__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    /* width: 1500px; */
    /* margin-left: 225px; */
    margin-top: 25px;
    justify-content: center;
  }
  @media (min-width: 768px) {
    .VideosR {
      flex: 0.87;
    }
    .VideosR__wrapper{
        justify-content: flex;
        padding: 0 25px;
    }
  }
  